.caption.dark h2, .caption.dark h3 {
	color : #ffffff !important;
}
.price-promotion{
	 text-decoration: line-through !important;
	 color: #96979d !important;
}
.break-work{
	word-break:  break-all;
}
.success-custom{
	background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    text-align: center !important;
    margin-bottom: 20px !important;
}
#wrapper .img {
	height: 250px !important;
}
.image-cart{
	width: 120px !important;
}
a.cart-remove {
	margin-right: 5px;
	background-color: #3acf87 !important;
    color: #ffffff !important;
}
input.qty {
    padding: 10px 15px 12px !important;
    border: none !important;
}
.qty {
    width: 35px !important;
    height: 22px;
    text-align: center;
    float: left;
}
.container-slider{
    max-width:  970px !important;
}
.share-buttons a{
    height: 30px !important;
}
.qtyplus, .qtyminus, a.cart-remove{
    font-size: 15px !important;
}
input.qty {
    padding: 19px 12px !important;
}
.linking a.button {
        padding: 14px 15px 8px 52px !important;
}
.linking a.button.adc:before{
        padding: 13px 15px 8px 12px !important; 
}
.update-button{
    border: none !important;
    height: 40px !important;
    width: 40px !important;
}
.check-cart {
    background-color: #3acf87 !important;
}
.address-italic{
    font-style: italic;
}
.address-italic-input{
    width: 100%;
}
.continue{ 
background-color: #3acf87 !important;
color : #ffffff !important; }
.cart-btn a.button{
        padding: 12px 14px 8px 52px !important;
}
.cart-btn a.button.adc::before {
    padding-top:  13px !important
}
.checkout-image {
    width:  100px;
}
.post-content {
    margin : 0 !important;
}
.cart-title,.cart-total,.cart-price{
    padding-top: 15px !important;
}
.left {
    float: left !important;
}
.the-team-content, .from-the-blog-content {
        padding: 25px 15px !important;
}
.color-text{
    color: #3acf87 !important;
}
.mediaholder a:hover{
    color:#3acf87 !important;
}
.reviews-counter{
    padding: 5px 5px 5px 5px !important;
    border: 1px solid;
    }