.caption.dark h2, .caption.dark h3 {
	color : #ffffff !important;
}
.price-promotion{
	 text-decoration: line-through !important;
	 color: #96979d !important;
}
.break-work{
	word-break:  break-all;
}
.success-custom{
	background-color: #dff0d8 !important;
    border-color: #d0e9c6 !important;
    color: #3c763d !important;
    text-align: center !important;
    margin-bottom: 20px !important;
}
#wrapper .img {
	height: 250px !important;
}
.image-cart{
	width: 120px !important;
}
a.cart-remove {
	margin-right: 5px;
	background-color: #3acf87 !important;
    color: #ffffff !important;
}
input.qty {
    padding: 10px 15px 12px !important;
    border: none !important;
}
.qty {
    width: 35px !important;
    height: 22px;
    text-align: center;
    float: left;
}
.container-slider{
    max-width:  970px !important;
}
.share-buttons a{
    height: 30px !important;
}
.qtyplus, .qtyminus, a.cart-remove{
    font-size: 15px !important;
}
input.qty {
    padding: 19px 12px !important;
}
.linking a.button {
        padding: 14px 15px 8px 52px !important;
}
.linking a.button.adc:before{
        padding: 13px 15px 8px 12px !important; 
}
.update-button{
    border: none !important;
    height: 40px !important;
    width: 40px !important;
}
.check-cart {
    background-color: #3acf87 !important;
}
.address-italic{
    font-style: italic;
}
.address-italic-input{
    width: 100%;
}
.continue{ 
background-color: #3acf87 !important;
color : #ffffff !important; }
.cart-btn a.button{
        padding: 12px 14px 8px 52px !important;
}
.cart-btn a.button.adc::before {
    padding-top:  13px !important
}
.checkout-image {
    width:  100px;
}
.post-content {
    margin : 0 !important;
}
.cart-title,.cart-total,.cart-price{
    padding-top: 15px !important;
}
.left {
    float: left !important;
}
.the-team-content, .from-the-blog-content {
        padding: 25px 15px !important;
}
.color-text{
    color: #3acf87 !important;
}
.mediaholder a:hover{
    color:#3acf87 !important;
}
.reviews-counter{
    padding: 5px 5px 5px 5px !important;
    border: 1px solid;
    }
input.newsletter {
    height: 41px !important;
}
/*css form payment*/
/* Padding - just for asthetics on Bootsnipp.com */
body { margin-top:20px; }

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}
.wrapper{width:60%; margin:5% auto;height:100vh;  box-shadow:0 0 2px #aaa; font-family:Hind;}
.logo_header{width:100%; height:70px;background:#1CA8DD; padding:10px;}
.email_body{width:100%; padding:0 15px;}
.receipt_list{width:100%;}
.receipt_list .left_list{float:left; width:60%;}
.receipt_list .right_list{float:left; width:40%;}
 .left_list b,.right_list b{width:100%; float:left; margin:0 0 10px 0;}
 .left_list span,.right_list span{width:100%; float:left; margin:0 0 5px 0;}
 .right_list span{text-align:left; padding-left:15%;}
 .list_divider{width:100%; border-top:1px solid rgba(0,0,0,0.2);float:left;}
 .invoice_trans{width:100%;float:left; margin:5px 0;}
.invoice_left{float:left; width:60%;}
.invoice_right{float:left; width:40%;}